.screensize{
    height: 100vh; 
     width: 100% !important;
    background-image: url(./images/atronomy.jpg);
    position: absolute;
    top:2.5vh;
    left:2.5vw;
     z-index: -99;
    overflow: hidden;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    border-width: 0px ;
    overflow: hidden;
    flex-flow: wrap;
 }
.crest{
    width: 45vw;
    height: 30vh;
    background-image: url(./images/NVcrest.png);
    background-size: contain;
    position: absolute;
    left: 10%;
    top: 2%;
    background-repeat: no-repeat;
}

 .Start{
 
   width: 100%;
    height: 25vh;
   
} 



.host{
 bottom: 0%;
  height: 75vh;   
display: block;
} 
#display{
   display: block ;
    bottom: 0%;
    height: 80vh;  
    overflow: hidden;
  
} 



.host1{
height: 70%;
position: absolute;
bottom: -20%;
right: 20%;
}
h1{
  text-align: center;
  font-size: 8vw;
}
h2{
  text-align: center;
  font-size: 8vw;
}


.crawl{
  text-align: center;
  margin: 0 auto;
  padding: 10xp;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 1.5;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(15deg);
 
  
  color:#ebecf0;
  font-size: 4vw;
  
  font-family: custom1;
  }

.content
{
	position: absolute;
	top: 50%;
	animation: crawl 90s linear  infinite; background-image: url(./images/steel.png);opacity: .9;background-repeat: no-repeat; background-size: cover;
}
 
  
  
  
  @keyframes crawl {
    0% { top: 50%; }
   
    100% { top: -1000%; }
    }

    @font-face {
      font-family: custom1;
      src: url(./fonts/MyGirlIsRetro-0Grz.ttf);
    }
  
    
    .bubble {
        position: absolute;
        top: -30%;
        right: 5%;
        background-color: #43464B ;
        font: Arial  bold;
        font-size: 2vw;
        line-height: 1.25;
        box-shadow: 2px 5px 6px 10px rgba(163, 163, 163, 0.62);
        text-align: center;
        width: 45vw;
        height: auto;
        border-radius: 10px;
        padding: 0px;
        overflow: hidden;
    }
  .row{
    width: 100%;
  }
  .name{
    width: 50%;
    color: white;
    background-color: dimgrey;
    
  }
   .nameBar{
     position: relative;
    left:20%
   }
   
   
    @media only screen and (max-width: 500px) {
      .host1{
        right:-30%;
        bottom: -40%;
      }
      .crest{
        height: 30vw;
      }
      
      .bubble {
        font-size: 4vw;
        bottom: 60%;
        width: 55vw;
      }
      .crawl{
        overflow: visible;
        
      bottom: 0%;
      }

      .display{
        width: 120%;
      }
      /* .submitName{
        width: 10vw;
        height: 10vw;
      } */
    }

    
      
    

