.screensize{
    height: 100vh; 
     width: 100% !important;
    background-image: url(./images/atronomy.jpg);
    position: absolute;
    top:2.5vh;
    left:2.5vw;
     z-index: -99;
    overflow: hidden;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    border-width: 0px ;
    overflow: hidden;
    flex-flow: wrap;
 }
.crest{
    width: 45vw;
    height: 30vh;
    background-image: url(./images/NVcrest.png);
    background-size: contain;
    position: absolute;
    left: 5vw;
    top: 2%;
    background-repeat: no-repeat;
}

 .Start{
 
   width: 100%;
    height: 25vh;
   
} 



.host{
 bottom: 0%;
  height: 75vh;   
display: block;
} 
#display{
   display: block ;
    bottom: 0%;
    height: 75vh;  
    overflow: hidden;
  
} 



.host1{
height: 75%;
position: relative;
bottom: 15%;
right: -30%;
}
h1{
  text-align: center;
  font-size: 5vw;
}
h2{
  text-align: center;
  font-size: 5vw;
}


.crawl{
  text-align: justify;
  margin: 0 auto;
  padding: 10xp;
  width: 45vw;
  line-height: 2.5;
  /* transform:perspective(400px) rotateX(20deg); */
  animation: crawl 90s linear;
  color: beige;
  font-size: 3vw;
  font-weight: bolder;
  
  }
  
  
  
  
  @keyframes crawl {
    0% {
      transform: translateY(100px) ;
    
    }
   
    100% { 
      transform:  translateY(-4000px);
    }
  }




